.Nav {
    min-height: 170px;
    font-size: calc(10px + 2vmin);
}

.Nav a:link {
    color: black;
}

.Nav a:visited {
    color: black;
}

.Nav a:hover {
    color: black;
}

.Nav a:active {
    color: black;
}
