.App {
    text-align: center;
    background-color: #333333;
    padding-bottom: 25vh;
    display: flex;
    min-height: 100vh;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ddddff;
}

.App a:link {
    color: #ddddff;
}

.App a:visited {
    color: #eeccff;
}

.App a:hover {
    color: #ccccff;
}

.App a:active {
    color: #ddddff;
}
